<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        img{
            height : 600px;
            width : 500px;
            border-radius: 20px;
            margin-left: 30px;
            box-shadow: 1px 1px 5px 1px black;
        }
        button{
            margin-bottom: 10px;
            border-radius: 20px;
            width: 140px;
            margin-top: 50px;
            background-color: aqua;
            box-shadow: 1px 1px 5px 1px black;
        }
    </style>
</head>
<body style="background-color: rgb(241, 241, 204);">
    <h1 align = "center" style="margin-top: 25px;" id = "score">SCORE : 0</h1>
    <div class = "conatiner" style = "margin-left: 50px; margin-top: 60px;">
        <div class = "row">
            <div class = "col-md-3">
                <div class = "row"><div class = "col-md-2"><button onclick = "check(this)" id = "1">BICYCLE</button></div></div>
                <div class = "row"><div class = "col-md-2"  ><button onclick = "check(this)" id = "2">BOTTLE</button></div></div>
                <div class = "row"><div class = "col-md-2"  ><button onclick = "check(this)" id = "3">CHAIR</button></div></div>
                <div class = "row"><div class = "col-md-2" ><button onclick = "check(this)" id = "4">CRICKET BAT</button></div></div>
                <div class = "row"><div class = "col-md-2"  ><button onclick = "check(this)" id = "5">FAN</button></div></div>
                <div class = "row"><div class = "col-md-2"><button onclick = "check(this)" id = "6">FOOTBALL</button></div></div>
            </div>
        
            <div class = "col-md-6" ><img src = "../images/Items/fan.jpg" id = "photo" class = "img-fluid"></div>

            <div class = "col-md-3">
                <div class = "row"><div class = "col-md-2"><button onclick = "check(this)" id = "7">GLASS</button></div></div>
                <div class = "row"><div class = "col-md-2"><button onclick = "check(this)" id = "8">HOUSE</button></div></div>
                <div class = "row"><div class = "col-md-2"><button onclick = "check(this)" id = "9">SHOES</button></div></div>
                <div class = "row"><div class = "col-md-2"><button onclick = "check(this)" id = "10">SMART PHONE</button></div></div>
                <div class = "row"><div class = "col-md-2"><button onclick = "check(this)" id = "11">TABLE</button></div></div>
                <div class = "row"><div class = "col-md-2"><button onclick = "check(this)" id = "0">WATCH</button></div></div>
            </div>
        </div>
    </div>

    <script>
        let score = 0;

        let Items = {
            1 : "../images/Items/Bicycle.jpg", 2 : "../images/Items/bottle.jpg", 3 : "../images/Items/chair.jpg" , 4 : "../images/Items/cricketBat.jpg", 5 : "../images/Items/fan.jpg" , 6 : "../images/Items/FootBall.jpg",7 : "../images/Items/Glass.jpg", 
            8 : "../images/Items/house.jpg", 9 : "../images/Items/Shoes.jpg", 10 : "../images/Items/SmartPhone.jpg", 
            11 : "../images/Items/table.jpg", 0 : "../images/Items/Watch.jpg"
        };

        let ids = {
            "../images/Items/Bicycle.jpg" : "1", "../images/Items/bottle.jpg" : "2", "../images/Items/chair.jpg" : "3" , "../images/Items/cricketBat.jpg" : "4", 
            "../images/Items/fan.jpg" : "5" , "../images/Items/FootBall.jpg" : "6","../images/Items/Glass.jpg" : "7", "../images/Items/house.jpg" : "8", "../images/Items/Shoes.jpg" : "9", "../images/Items/SmartPhone.jpg" : "10", "../images/Items/table.jpg" : "11", "../images/Items/Watch.jpg" : "0"
        };

        let hash = {5 : true};
        let check = (obj) => {
            let photo = document.getElementById('photo');
            let sc = document.getElementById('score');
            
            if(obj.id == ids[photo.getAttribute('src')]){
                obj.disabled = true;
                obj.style.backgroundColor = 'green';
                obj.style.color = 'white';
                score++;
                sc.innerHTML = 'Score : ' + score;
                if(score == 12){
                    localStorage.setItem('score',score);
                    window.location.href = 'gameover.html';
                    return;
                }
                let p = Math.floor(Math.random() * 12);
                while(hash[p]){
                    p = Math.floor(Math.random() * 12);
                }
                hash[p] = true;
                photo.src = Items[p];
            }
            else{
                localStorage.setItem('score',score);
                let ans = document.getElementById(ids[photo.getAttribute('src')]).innerHTML;
                console.log(ans);
                localStorage.setItem('ans',ans);
                window.location.href = 'gameover.html';
                return;
            }
        }

    </script>
</body>
</html>